<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.taixinkanghu">

    <!-- 用户权限 -->
    <uses-permission android:name="android.permission.CALL_PHONE" />


    <!-- 下载列表 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <!-- 屏幕适配 -->
    <!-- 程序入口 -->
    <application
        android:name=".app.frame.AppFrame"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name=".app.ui.activity.WelcomeActivity"
            android:label="@string/welcome_activity_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".app.ui.main_page.MainActivity"
            android:label="@string/title_activity_main">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
            </intent-filter>
        </activity>

        <service
            android:name=".app.model.net.NetService"
            android:enabled="true"
            android:exported="true" />

        <activity
            android:name=".app.ui.activity.AboutUsActivity"
            android:label="AboutUsActivity" />
        <activity
            android:name=".app.ui.activity.ChooseWorkerActivity"
            android:label="ChooseWorkerActivity" />
        <activity
            android:name=".app.ui.activity.CustomerServiceActivity"
            android:label="CustomerServiceActivity" />
        <activity
            android:name=".app.ui.activity.SaleInfoActivity"
            android:label="SaleInfoActivity" />
        <activity
            android:name=".app.ui.activity.WorkerInfoActivity"
            android:label="WorkerInfoActivity" />
        <activity
            android:name=".app.ui.activity.AppointmentActivity"
            android:label="AppointmentActivity" />
        <activity
            android:name=".app.ui.activity.OrderConfirmActivity"
            android:label="OrderConfirmActivity" />
        <activity
            android:name=".app.ui.activity.ReviewsActivity"
            android:label="ReviewsActivity" />
        <activity
            android:name=".app.ui.activity.MineOrderActivity"
            android:label="MineOrderActivity" />
        <activity
            android:name=".app.ui.activity.WorkerDateActivity"
            android:label="@string/title_activity_worker_date"></activity>
        <activity
            android:name=".app.ui.activity.FaqActivity"
            android:label="@string/title_activity_faq"></activity>
        <activity
            android:name=".app.ui.activity.CompanyInfoActivity"
            android:label="@string/title_activity_company_info"></activity>
        <activity
            android:name=".app.ui.activity.ServiceIntroductionActivity"
            android:label="@string/title_activity_service_introduction"></activity>
        <activity
            android:name=".app.ui.activity.WorkerLevelActivity"
            android:label="@string/title_activity_worker_level"></activity>
        <activity
            android:name=".app.ui.activity.QuestionFeedBackActivity"
            android:label="@string/title_activity_question_feed_back"></activity>
        <activity
            android:name=".app.ui.activity.MyWealthActivity"
            android:label="@string/title_activity_my_wealth"></activity>
        <activity
            android:name=".app.ui.activity.MySetActivity"
            android:label="@string/title_activity_my_set"></activity>
        <activity
            android:name=".app.ui.activity.MyScoreActivity"
            android:label="@string/title_activity_my_score"></activity>
    </application>

</manifest>
